* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.four {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .containerf {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;

        .card {
            width: 100%;
            display: flex;
            gap: 10px;
            justify-content: space-between;
            align-items: center;
            min-height: 400px;

            .photo {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 20px;
            }

            img {

                width: 80px;
                border-radius: 50%;
                border: 4px solid #930077;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .text {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                p {
                    font-family: 'Cinzel' sans-serif;
                    font-size: 20px;
                    font-weight: 300;
                    color:
                        rgb(128, 128, 128);
                    line-height: 44px;
                    padding-bottom: 10px;
                    text-align: center;

                }
            }
        }
       
    }
}